.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
body {
  padding-top: 10rem;
  /* background-color: rgba(207, 202, 202, 0.2);
  background-image: url("./component/images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; */
}

.main {
  width: 1170px;
  margin: 0 auto;
}

.homediv {
  padding-top: 15.5rem;
}
.rightside {
  float: right;
  color: white;
}
.rightside label {
  margin-left: 10px;
  border-left: 1px solid white;
  padding-left: 10px;
}

.leftside label {
  margin-left: 10px;
  border-right: 1px solid white;
  padding-right: 10px;
}

.mainwhite {
  border-bottom: 1px solid rgb(205, 205, 205);
  padding-bottom: 7px;
}
.blackcolor {
  color: black;
}
.logo {
  width: 15%;
}
.logoname {
  font-family: cursive;
  font-size: large;
  letter-spacing: 1px;
  font-weight: 200px;
}
.middleside {
  width: 40%;
  float: left;
  margin-top: 4.5px;
}
.leftside {
  float: left;
  color: white;
}
.homedivset {
  text-align: center;
  background-color: white;
  margin: 12px 17px;
  border: 10px solid white;
}

.Navlink ul li {
  float: left;
  padding: 0 20px;
  list-style: none;
  font-size: 20px;
  font-weight: 500;
}

.imge {
  text-align: "center";
  background: "teal";
  padding: "200px 0";
  width: 50%;
  font-size: "30px";
}

.threeimg div {
  margin: 0 20px;
  width: 30%;
}
.maitn {
  width: 100%;
  float: left;
  position: relative;
  transition: all 0.5s ease-out;
  overflow: hidden;
}
.maitn::after {
  content: "";
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}
.maitn:hover .img {
  transform: scale(1.05);
}

.img {
  transition: all 0.5s ease-out;
}
.buttonshado {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 30%;
  width: 100px;
  border: 3px solid white;
  width: 40%;
  display: block;
  box-shadow: none;
  color: white;
  font-size: 30px;
  font-variant: small-caps;
  text-align: center;
  font-style: normal;
}
.buttonshado::after {
  content: "";
  position: absolute;
  border: 4px solid white;
  top: -20px;
  width: 104%;
  height: 40%;
  left: -3px;
}
.buttonshado::before {
  content: "";
  position: absolute;
  border: 4px solid white;
  bottom: -20px;
  width: 104%;
  height: 40%;
  left: -3px;
}
.buttonshado:hover {
  color: white;
}
.novembersaleleft {
  width: 50%;
  float: left;
}
.novembersaleright {
  width: 12%;
  float: right;
  padding: 20px 10px;
}
.novermbersale {
  border: 2px solid rgb(238, 238, 238);
  float: left;
  height: 0%;
  width: 100%;
  margin-top: 10px;
  padding: 20px 50px;
  position: relative;
}
.novermbersale::before {
  content: "";
  position: absolute;
  border: 2px solid rgb(238, 238, 238);
  float: left;
  height: 88%;
  top: 0;
  left: 0;
  width: 98%;
  margin: 10px 6px;
}

.footerpage {
  width: 100%;
  background-color: rgb(34, 34, 34);
  height: 100%;

  float: left;
  color: white;
}
.foo {
  margin: 0 auto;
  width: 80%;
  font-variant: small-caps;
}
.fooright {
  float: right;
  width: 20%;
}

.productimagemulti img {
  width: 40%;
  height: 5%;
  margin: 8px 20%;
}
.productimg img {
  width: 100%;
  height: 100%;
}
.backgroundcolors {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("./component/images/backgroundcolor.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.loginbackground {
  margin: 2% auto;
  width: 450px;
  height: 600px;
  border-radius: 20px;
  background-color: white;
  text-align: center;
}
.loginbackground label {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 50px;
  margin: 6%;
}
.logincontaint {
  width: 60%;
  margin: 0 auto;
  text-align: left;
}
.logincontaint input {
  width: 100%;
  margin-bottom: 30px;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: 1px solid rgb(51, 51, 51, 0.2);
  outline: none;
}
.logincontaint input:hover {
  border-bottom: 1px solid rgb(51, 51, 51);
}
.logincontaint h5 {
  margin: 10px 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.loginbottom button {
  background: linear-gradient(to left, rgb(250, 0, 255), rgb(28, 196, 228));
  width: 60%;
  font-size: 18px;
  font-weight: 500;
  padding: 6px 20px;
  border-radius: 10px;
  border: none;
  color: white;
}
.loginicon {
  margin: 20px;
}
.loginicon a {
  cursor: pointer;
  font-weight: 600;
}
.loginicon a:hover {
  border-bottom: 1px solid black;
}
.loginicon h6 {
  margin-top: 20px;
}
.cartlogin {
  font-size: 100px;
  position: absolute;
  animation-name: cartspeed;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  top: 40%;
}
.loginbackground {
  animation-name: example;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
@keyframes example {
  0% {
    left: 0;
  }
  50% {
    left: 50%;
  }
}
@keyframes cartspeed {
  0% {
    left: 0;
  }
  1% {
    transform: rotate(50deg);
  }
  50% {
    left: 50%;
    transform: rotate(-50deg);
  }
  100% {
    left: 90%;
    visibility: hidden;
  }
}

@media only screen and (max-width: 700px) {
  .backgroundcolors {
    width: 100%;
    height: 100%;
  }
  .loginbackground {
    width: 70%;
    height: 90%;
    margin-top: 20px;
  }
  .loginbackground label {
    font-size: 35px;
  }
  .logincontaint {
    width: 70%;
  }
}
